.login-form {
    background-color: white;
    padding: 2em;
    text-align: center;
    color: black;
    margin-top: 80%;
}

.email-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}