.signup-container {
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    max-width: 30em;
    min-width: 20em;
    margin: 0 auto;
}

.birthday {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 0.5em;
}

.birthday select{
    height: 35px;
    width: 6.4em;
    border-radius: 8px;
    border: 1px solid var(--primary-text);
}

.create-account {
    font-size: 30px;
    margin-bottom: 1em;
}

.signup-input {
    height: 2em;
    width: 20em;
}

.session-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 20px;
    color: var(--primary-text);
}

.signup-button {
    width: 5em;
    margin-top: 1em;
}

.signup-click {
    width: 20.5em
}

label {
    margin-bottom: 0.5em;
}

.errors {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 15px;
}

.redirect-user-accounts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 16em;
}

.login-link {
    background: none;
    border: none;
    color: var(--link);
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-left: 0.2em;
}

.login-link:hover {
    text-decoration: underline;
}