.main-search-bar-container{
    width: 100%;
    height: 15vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--tertiary-background);
}

.search-bar-content{
    width: 60%;
    height: 60px;
    background-color: var(--primary-white);
    border-radius: 6px;
    border: 1px solid var(--primary-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.search-icon{
    width: 9%;
    height: 100%;
    background-color: var(--secondary-background);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-icon:hover{
    cursor: pointer;
}