.contractor-show-container{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.contractor-show-content{
    width: 80%;
    height: 190%;
    margin-top: 25px;
    display: flex;
    position: relative;
}

.contractor-show-content > *{
    margin: 10px;
    padding: 10px;
}

.contractor-show-info-card{
    width: 300px;
    margin-bottom: 20px;
}

.contractor-show-reviews-card{
    width: 300px;
    height: 200px;
}

.contractor-show-appointment-card{
    position: absolute;
    right: 0;
    width: 45%;
    height: 70%;
    background-color: var(--secondary-background);
    border-radius: 4px;
    padding: 20px;
}

.contractor-show-image{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 10px;
}

.contractor-show-container .header-name-container h3{
    font-size: 30px;
    width: 300px;
}

.info-card > * {
    margin: 5px 5px;
}

#category{
    font-size: 25px;
    color: var(--secondary-text);
    font-style: italic;
}

#address{
    margin-top: 20px;
    font-weight: 600;
}