.category-index-item{
    height: 170px;
    width: 150px;
    border: 1px solid var(--primary-border);
    margin: 25px 14px;
    flex-shrink: 0;
    background-color: var(--secondary-background);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    box-shadow: -5px 5px 0 1px var(--primary-border);
}

.index-item-title{
    color: var(--primary-text);
    font-size: 20px;
    margin: 15px;
}

.hover-shadow{
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.hover-shadow:hover{
    transform: translate(-2.8px,2.8px);
    box-shadow: -2px 2px 0 1px var(--primary-border);
}