.category-index-item{
    height: 40px;
    width: 150px;
}

.category-index-item:hover{
    cursor: pointer;
    text-decoration: underline;
}

.index-item-title{
    color: var(--secondary-text);
    font-weight: 500;
    font-size: 16px;
    margin: 16px;
}

