.footer-main{
    position: absolute;
    bottom: -230px;
    left: 0;
    flex-shrink: 0;
    height: 100px;
    width: 100vw;
    background-color: var(--secondary-background);
    display: flex;
    justify-content: space-around;
}

.footer-content{
    width: 70%;
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
}

.theme-selector{
    position: absolute;
    right: 300px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    background-color: var(--primary-background);
    height: 10px;
    height: 30px;
    width: 150px;
}

.select-theme-button{
    height: 30px;
}