.category-index{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 899px){
    .category-index{
        justify-content: flex-start;
        overflow-x: auto;
        width: 100%;
    }
}

/* Not in use */
.category-index-scroll{
    display: flex;
    animation: scrollIcons 15s linear infinite;
}

@keyframes scrollIcons {
    0%   { transform: translateX(0); }
    100% { transform: translateX(); }
}