.contractor-section-container{
    height: 500px;
    width: 100%;
    background-color: var(--secondary-background);
}

.contractor-section-content{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.contractor-section-content h2{
    padding: 20px 0;
}

.contractor-section-index{
    display: flex;
    height: 100%;
}