.contractor-section-container{
    height: 100%;
    width: 100%;
    background-color: var(--secondary-background);
}

.contractor-section-content{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.contractor-section-content h2{
    padding: 20px 0;
}

.contractor-section-index{
    display: flex;
    height: 100%;
    overflow-x: auto;
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
    background-color: var(--primary-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.contractor-section-index h3{
    width: 120px;
    flex-shrink: 0;
}