.contractor-section-container{
    height: 500px;
    width: 100%;
    background-color: var(--tertiary-background);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contractor-section-content{
    width: 70%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}