.category-section-main{
    width: 100vw;
    margin: 0;
    padding-bottom: 1em;
    background-color: var(--tertiary-background);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}